.form {
    margin: 65px 0;
}

.form .inp {
    display: inline-block;
    border: none;
    border-bottom: 2px solid #000000;
    margin: 50px;
    margin-left: 0;
    font-size: 2.5rem;
    padding: 12px;
}

.form .inp:focus {
    outline-color: #0075FF;
}

.form .btn-submit {
    border: none;
    background-color: #0075FF;
    font-size: 2.5rem;
    padding: 10px 40px;
    color: #ffffff;
    cursor: pointer;
}
