* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.0rem;
}

body {
    font-family: 'Roboto';
}

.container {
    margin: 27px 48px;
}

.container .hero {
    font-size: 5rem;
}
